section {
    outline: none;
}

.main {
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    overflow: hidden;
}

.hero {
    background: url('../assets/fons/bg-ball.png') no-repeat,
    url('../assets/fons/bg-snow.png') no-repeat,
    var(--primary);
    background-size: cover, cover, cover;
    background-position: center, center, center;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    padding: 60px 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__container {
    max-width: 430px;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
}

.hero__button {
    background: var(--dark);
    border-radius: 20px;
    padding: 20px 32px;
    text-align: center;
    width: fit-content;
    border: none;
    transition: color, background-color 0.3s ease;
}

.hero__button:hover{
    background: var(--static-white);
    color: var(--dark);
    transition: color, background-color 0.3s ease;
    cursor: pointer;
    .action-small{
        transition: color 0.3s ease;
    }
}


/* ABOUT STYLES */


.about {
    background: url('../assets/fons/bg-snow.png') no-repeat,
    var(--primary);
    background-size: cover, cover;
    background-position: center, center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 8px;
}

.about__container {
    background: var(--static-white);
    display: flex;
    border-radius: 20px;
    max-width: 1276px;
    height: 528px;
    width: 1276px;
    min-width: 0;
    border: none;
    justify-content: space-between;
}

.about__left-section {
    padding: 0 60px;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.about__left-section__container {
    padding: 60px 0;
    max-width: 426px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.about__caption {
    color: var(--primary);
}

.about__heading {
    color: var(--dark);
    text-wrap: wrap;
}

.about__paragraph {
    color: var(--dark);
}

.about__image-section {
    border-radius: 20px;
    width: 50%;
    height: 100%;
    border: none;
    overflow: hidden;
}

.about__santa-image {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}


/* SLIDER STYLES */

.slider {
    background: url('../assets/fons/bg-snow.png') no-repeat,
    var(--primary);
    background-size: cover, cover;
    background-position: center, center;
    padding: 60px 82px;
}

.slider__container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.heading__container {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;
}

.slider-text {
    font-weight: 600;
    font-size: 80px;
    text-transform: uppercase;
    color: var(--static-white);
}

.slider__container__img-slider-row {
    display: flex;
}

.slider__container__img-slider {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.slider__image-container {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.slider__image {
    width: 100%;
    height: 100%;
}

.slider__controllers__container {
    width: 100%;
    display: flex;
    justify-content: right;
    column-gap: 20px;
}

.slider__controller {
    border: 1px solid var(--static-white-40);
    border-radius: 20px;
    width: 56px;
    height: 56px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__controller.active {
    border: 1px solid var(--static-white);
    transition: color, background-color 0.3s ease;
}

.arrow path {
    stroke: var(--static-white-40);
}

.arrow.active path {
    stroke: var(--static-white);
}

.slider__controller.active:hover {
    background: var(--static-white);
    cursor: pointer;
    transition: color, background-color 0.3s ease;

    .arrow.active path {
        stroke: var(--primary);
    }
}


/* BEST GIFTS STYLES */

.best-gifts {
    background: url('../assets/fons/bg-snow.png') no-repeat,
    var(--primary);
    background-size: cover, cover;
    background-position: center, center;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.best-gifts__container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}


/* CTA STYLES */

.cta {
    background: url('../assets/fons/bg-forest.png') no-repeat,
    url('../assets/fons/bg-snow.png') no-repeat,
    var(--primary);
    background-size: cover, cover, cover;
    background-position: center, center, center;
    padding: 60px 82px;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta__container {
    padding: 60px 0;
    width: 426px;
}

.cta__inner-container {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}

.cta__timer-container {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: center;
}

.cta__timer {
    display: flex;
    border-radius: 20px;
    padding: 8px 12px 12px 12px;
    background: var(--static-white-40);
    align-items: center;
}

.cta__timer__time {
    width: 80px;
    height: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media screen and (max-width: 1190px) {
    .cta{
        padding: 60px 8px;
    }

    .slider {

        padding: 60px 8px;
    }

    .best-gifts{
        padding: 60px 8px;
    }
}

@media screen and (max-width: 640px) {
    .about__container{
        flex-direction: column;
        height: 880px;
    }

    .about__left-section{
        width: 100%;
    }

    .about__image-section{
        width: 100%;
    }

    .about__left-section{
        padding: 0 20px;
    }
}

@media (hover: none) and (pointer: coarse) {
    .hero__button:hover{
        background: var(--dark);
        color: white;
        cursor: default;

        .action-small {
            transition: none;
        }
    }

    .slider__controller.active:hover {
        background: inherit;
        cursor: default;

        .arrow.active path {
            stroke: var(--static-white);
        }
    }
}