.main{
    width: 1440px;
    margin: 0 auto;
}

.hero{
    background:
            url('../assets/fons/bg-ball.png') no-repeat,
            url('../assets/fons/bg-snow.png') no-repeat,
            var(--primary);
    background-size: cover, cover, cover;
    background-position: center, center, center;
    border-radius: 20px 20px 0 0;
    padding: 60px 505px;
    height: 524px;
}

.hero__container {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
}

.hero__button{
    background: var(--dark);
    border-radius: 20px;
    padding: 20px 32px;
    text-align: center;
    width: fit-content;
    border: none;
}


/* ABOUT STYLES */


.about{
    background:
            url('../assets/fons/bg-snow.png') no-repeat,
            var(--primary);
    background-size: cover, cover;
    background-position: center, center;
    padding: 60px 82px;
    height: 648px;
    margin-top: -1px;
}

.about__container{
    background: var(--static-white);
    display: flex;
    height: 528px;
    border-radius: 20px;
    border: none;
    justify-content: space-between;
}

.about__left-section{
    padding: 0 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__left-section__container{
    padding: 60px 0;
    max-width: 426px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.about__caption{
    color: var(--primary);
}

.about__heading{
    color: var(--dark);
}

.about__paragraph{
    color: var(--dark);
}

.about__image-section{
    border-radius: 0 0 20px 20px;
    border: none;
}

.about__santa-image{
    border-radius: 20px;
    border: none;
}