:root {
    --font-family: 'Montserrat', sans-serif;
    --second-family: 'Allura', sans-serif;

    --primary: #FF4646;
    --primary-10: rgba(255, 70, 70, 0.1);
    --dark: #181C29;
    --static-white: #FFFFFF;
    --static-white-40: rgba(255, 255, 255, 0.4);
    --static-white-20: rgba(255, 255, 255, 0.2);
    --tag-purple: #4361FF;
    --tag-pink: #FF43F7;
    --tag-green: #06A44F;
    --content-background: #ECF3F8;
    --overlay: rgba(24, 28, 41, 0.8);
}

@font-face {
    font-family: 'Allura';
    src: url('../fonts/allura-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family), serif;
    color: var(--dark);
}

.heading1{
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--static-white);
    text-align: center;
}

.heading2{
    font-weight: 600;
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: var(--static-white);

}

.heading3{
    font-weight: 600;
    font-size: 16px;
    line-height: 152%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--static-white);
    transition: color, color 0.3s ease;
}

.heading4{
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--static-white);
}

.paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    color: var(--static-white);
}

.action-large{
    font-weight: 600;
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: var(--static-white);
    transition: color, color 0.3s ease;
}

.action-small{
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--static-white);
}

.caption{
    font-family: var(--second-family), serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: var(--static-white);
}

.gift-for-harmony{
    color: var(--tag-pink);
}

.gift-for-work{
    color: var(--tag-purple);
}

.gift-for-health{
    color: var(--tag-green);
}

.color-black{
    color: black;
}

.text-align-center{
    text-align: center;
}

.icon path {
    transition: stroke 0.3s;
}

.icon:hover path {
    stroke: red;
}




.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.header {
    padding: 0 82px;
    width: 1440px;
    margin: 0 auto;
}

.header__logo-container {
    padding: 8px 20px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;

}

.header__logo-container:hover {
    cursor: pointer;
}

.header__logo-img {
    width: 24px;
    height: 24px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    column-gap: 8px;
    margin: 0;
}

.header__list__item {
    font-family: var(--font-family), serif;
    padding: 12px 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-radius: 12px;
    transition: color, background-color 0.3s ease;
}

.header__list__item:hover {
    cursor: pointer;
    background-color: var(--primary-10);

    .header__link {
        color: var(--primary);
    }

    transition: color, background-color 0.3s ease;
}

.header__link {
    color: var(--dark);
    text-decoration: none;
}


/* FOOTER STYLES */

.footer {
    padding: 60px 82px;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.footer__block-list{
    display: flex;
    column-gap: 12px;

    align-items: center;
}

.footer__card{
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;
    width: 100%;
    background: var(--content-background);
    border-radius: 20px;
}

.footer__card:hover{
    cursor: pointer;
    .action-large{
        color: var(--primary);
        transition: color, color 0.3s ease;
    }
    .heading3{
        color: var(--primary);
        transition: color, color 0.3s ease;
    }

}

.footer__contacts{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;
}

.footer__contacts__socials{
    display: flex;
    column-gap: 12px;
}

.footer__contacts__socials__social-container{
    padding: 8px;
    width: 40px;
    height: 40px;
}

.footer__contacts__socials__social-container:hover{
    cursor: pointer;
}

.footer__caption:hover{
    cursor: pointer;
    color: var(--primary)
}